#root {
    color: black;
    display: flex;
    float: row;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    width: auto;
    border: 1px solid rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }


  .input {
    height: 30px;
    margin-left: 15px;
    
  } 
  
  .main-header {
    text-align: center;
    background-color: black;
  } 
  
 
  
  #input_title {
    display: flex;
    height: 50px;
    align-items: center;
    padding-left: 20px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    
  }
  
  .results {
    margin-left: 25px;
  }
  
  .div_title {
  border: 1px solid lightgrey;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  }
  
  .name {
    font-size: 22px;
    text-align: center;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }
  .number {
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }
  
  .block {
    display: flex;
    flex-direction: column; 
    width: 30%;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 10px 10px 10px;
    background-color: white;
    background: linear-gradient(to top, rgba(255, 254, 254, 0), #7a7a7a);
    color: rgb(245, 245, 233);
  }
  .image {
    width: 100%;
  }
  .summary {
    font-size: 20px;
    text-align: justify;
  }